<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a routerLink="contact">Customized Watch</a></li>
                      <li><a routerLink="contact">Watch Repair</a></li>
                      <li><a routerLink="contact">Digital Watch</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a routerLink="about">Company</a></li>
                      <li><a routerLink="about">Team</a></li>
                      <li><a routerLink="about">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Indian Watches</h3>
                  <p>Inorbit Mall, First Floor Shop No.404,Vashi Navi Mumbai-400706</p>
              </div>
              <div class="col item social"><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a><a href="https://twitter.com/"><i class="bi bi-twitter"></i></a><a href="https://www.snapchat.com/"><i class="bi bi-snapchat"></i></a><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></div>
          </div>
          <p class="copyright">INDIAN WATCHES © 2018</p>
      </div>
  </footer>
</div>
