<br><br><br>
<div class="container">
  <!--Add product form-->
  <div class="form-area">
    <h3>Fill the details</h3>
    <form #contactform ="ngForm" (ngSubmit)="contact(contactform.value)">
      <label>Procuct Name</label>
      <input type="text" name="Name" ngModel>

      <label>Mobile No</label>
      <input type="text" name="Mobile" ngModel>

      <label>Procuct Model</label>
      <input type="text" name="Model" ngModel>

      <input type="submit" (click)="submitForm()" value="Submit" >
    </form>
  </div>
<br>
<div class="row">
    <div>
      <img src="assets/location_icon.png">
      <p>Inorbit Mall, First Floor Shop No.404,
        Vashi Navi Mumbai-400706</p>
  </div>

  <div>
      <img src="assets/mail_icon.png">
      <p>info@watchindian.in</p>
  </div>

  <div>
      <img src="assets/call_icon.png">
      <p>7845125278<br>
          02276543210</p>
  </div>
</div>
<div class="thank-you .text-center" *ngIf="showForm==0">
  <img src="assets/check-mark.svg">
  <h1>Thank You {{Name}}</h1>
  <hr>
  <p>Your message has been sent successfully.<br>
      Our team will get back to you shortly.</p>
</div>
</div>
