<h2 class="text-center"> About Us</h2>
  <div class="container text-center">
    <br>
    <div class="row">
        <div class="col-sm-5 text-center">
          <h1 >About</h1>
          <h5 style="color: rgb(82, 131, 131);">with a strong belief in the ‘Make in India’ initiative, Indian Watch Company is India’s first bespoke Watch Company.</h5>
          <h5 style="color: rgb(82, 131, 131);">Started in 2013, to offer elegant handcrafted limited edition selection of timeless pieces that exude tradition with a subtle hint of contemporary design. Each watch is handcrafted meticulously to be cherished as heirlooms that are worthy of being passed down generations.</h5>
        </div>
        <div class="col-sm-7">
            <img class="mx-auto d-block" img src="/assets/logo.jpg" width="380" height="290" alt="img">
        </div>
    </div>
  </div>
